<!DOCTYPE html>
<html>
<head>
	<title>Hello World</title>
 <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js">
    </script>

</head>
<body>
<body>
	
    <div id="hello-world">
      <h1>{{ msg }}</h1>
    </div>
     <script>
      new Vue({
        el: "#hello-world",
        data() {
          return {
            msg: "Hello World from Meni!!!! "
          }
        }
      });
    </script>


</body>
</html>